
//colors
//$primary-color-900: #081c15;
//$primary-color-800: #1b4332;
//$primary-color-700: #2d6a4f;
//$primary-color-600: #40916c;
//$primary-color-500: #52b788;
//$primary-color-400: #74c69d;
//$primary-color-300: #95d5b2;
//$primary-color-200: #b7e4c7;
//$primary-color-100: #d8f3dc;

$secondary-color-900: #081c15;
$secondary-color-800: #1b4332;
$secondary-color-700: #2d6a4f;
$secondary-color-600: #40916c;
$secondary-color-500: #52b788;
$secondary-color-400: #74c69d;
$secondary-color-300: #95d5b2;
$secondary-color-200: #b7e4c7;
$secondary-color-100: #d8f3dc;

$primary-color-900: #212529;
$primary-color-800: #343a40;
$primary-color-700: #495057;
$primary-color-600: #6c757d;
$primary-color-500: #adb5bd;
$primary-color-400: #ced4da;
$primary-color-300: #dee2e6;
$primary-color-200: #e9ecef;
$primary-color-100: #f8f9fa;

$box-shadow-black-100: 0 10px 20px 1px rgba(0, 0, 0, 0.3);
$box-shadow-green-100: 0 0 100px 1px rgba(89, 214, 160, 0.3);



%button{
  cursor: pointer;
  background-color: $secondary-color-500;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  min-width: 100px;
  color: $secondary-color-100;
  &:hover{
    opacity: 90%;
  }
}

%input_block{
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 200px;
  box-sizing: border-box;
  transition: border-left 0.1s ease;
  &:focus{
    border-left: 4px solid $secondary-color-400;
  }
}

%block{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

%dark_background{
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: black_background_appear 0.5s ease forwards;
}

@keyframes black_background_appear {
  0% {
    background-color: rgba(0, 0, 0, 0.0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

%blur_background{
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blur_background_appear 0.2s ease forwards;
}
@keyframes blur_background_appear {
  0% {
    backdrop-filter: none;
    background-color: rgba(0, 0, 0, 0.0);
  }
  25% {
    backdrop-filter: blur(5px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}