@import 'src/styles/global';

body {
  margin: 0;
  //background-color: $primary-color-800;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  color: $secondary-color-100;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: $primary-color-800;
  }
  ::-webkit-scrollbar-thumb{
    background-color: $secondary-color-500;
    border-radius: 10px;
    border: 3px solid $primary-color-800;
    transition: 10s background-color ease-in-out;
    &:hover{
      background-color: $secondary-color-600;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
