@import 'src/styles/global';

body {
  margin: 0;
  background-color: $primary-color-800;
  color: $secondary-color-100;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
