@import 'src/styles/global';

.background{
  @extend %blur_background;
}
.container{
  background-color: $primary-color-600;
  width: 30%;
  @extend %block;
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow-green-100;
  min-width: 400px;
}
.title_n_close{
  padding-bottom: 10px;
  border-bottom: 2px solid $secondary-color-500;
  position: relative;
}
.title{
  text-align: center;
  font-size: 20px;
}
.close{
  position: absolute;
  right: -3px;
  top: -3px;
  height: 100%;
  border-radius: 5px;
  svg{
    height: 90%;
    width: 100%;
  }
  transition: all 0.2s ease;
  &:hover{
    cursor: pointer;
    background-color: $secondary-color-300;
    transform: translateY(1px);
  }
}
.text_wrapper{
  padding-top: 10px;
  min-height: 100px;
  width: 100%;
}
.buttons_block{
  display: flex;
  justify-content: center;
}
.button{
  margin: 0 10px;
  @extend %button;
}
.cancel_button{
  margin: 0 10px;
  @extend %red_button;
}