@import 'src/styles/global';

.wrapper{
  height: 100%;
}
.title{
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid $secondary-color-500;
}
.main_container{
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.button{
  @extend %button;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.monstrix_container{
  display: flex;
  margin: 10px 0;
  overflow: auto;
}
.monstrix_card{
  @extend %monstrix_card;
  background-color: $primary-color-700;
  &:hover{
    background-color: $primary-color-800;
  }
}
.selected_card{
  background-color: $secondary-color-500;
  &:hover{
    background-color: $secondary-color-600;
  }
}
.card_image{
  @extend %monstrix_image;
}
.stages_block{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.stage, .selected_stage, .disabled_stage{
  background-color: $primary-color-700;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  min-width: 20px;
  text-align: center;
  &:hover{
    background-color: $primary-color-800;
    cursor: pointer;
  }
}
.selected_stage{
  background-color: $secondary-color-500;
  &:hover{
    background-color: $secondary-color-500;
  }
}
.disabled_stage{
  opacity: 30%;
  &:hover{
    background-color: $primary-color-700;
    cursor: default;
  }
}
.stage_tooltip{
  display: flex;
}